*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: #e7e7df;
}

img{
    max-width: 100%;
}

h1{
    font-size: 1.5em;
    font-weight: 500;
}

.main-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px 10px;
}

.main-wrapper p{
    width: 50%;
    text-align: center;
    font-size: .8rem;
    margin-top: 10px;
}

.main-wrapper #box-wrapper{
    width: 100%;
    margin-top: 40px;
}

#box-wrapper .row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.col{
    width: calc(100% / 3);
    padding: 10px;
} 

.col .card{
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card .card-txt{
    padding: 10px 0;
}

.card-txt .member-name{
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: #5f5f33;
}

.card-txt .member-role{
    font-size: .9rem;
    color: #38381d;
}